@font-face {
  font-family: graphik-700;
  src: url(Graphik-Font-Family/GraphikBold.otf);
}
@font-face {
  font-family: graphik-600;
  src: url(../Graphik-Font-Family/GraphikSemibold.otf);
}
@font-face {
  font-family: graphik-500;
  src: url(../Graphik-Font-Family/GraphikMedium.otf);
}
@font-face {
  font-family: graphik-400;
  src: url(../Graphik-Font-Family/GraphikRegular.otf);
}
@font-face {
  font-family: graphik-300;
  src: url(../Graphik-Font-Family/GraphikLight.otf);
}
:root {
  --blue: #0668e3;
  --orange: #ff9000;
  --black: #212529;
  --white: #ffffff;
}
.blue-bg {
  background-color: var(--blue);
}
.orange-bg {
  background-color: var(--orange);
}
.black-bg {
  background-color: var(--black);
}
.white-bg {
  background-color: var(--white);
}
.blue-txt {
  color: var(--blue);
}
.orange-txt {
  color: var(--orange);
}
.black-txt {
  color: var(--black);
}
.white-txt {
  color: var(--white);
}
.blue-shadow {
  box-shadow: 0px 4px 13px rgba(196, 196, 196, 0.25);
}
.orange-shadow {
  box-shadow: 0px 4px 13px rgba(255, 144, 0, 0.25);
}
.font-400 {
  font-family: graphik-400;
}
.font-500 {
  font-family: graphik-500;
}
.font-600 {
  font-family: graphik-600;
}
.font-700 {
  font-family: graphik-700;
}
.blue-sect div {
  background: url(../img/Ellipse26.svg), url(../img/Ellipse28.svg),
    url(../img/Ellipse25.svg);
  background-size: 100px;
  background-repeat: no-repeat;
  background-position: top 10px left 10px, center bottom 10px,
    bottom 10px right 10px;
}
.blue-sect2 div {
  background-image: url(../img/Ellipse28.svg), url(../img/Ellipse26.svg),
    url(../img/Ellipse25.svg);
  background-size: 160px;
  background-repeat: no-repeat;
  background-position: top 4px left 6px, top 6px right, bottom 6px right 6px;
}
footer {
  background: url(../img/Vector4.svg);
  background-size: 100%;
  background-repeat: no-repeat;
}

@media screen and (min-width: 640px) {
}
@media screen and (min-width: 768px) {
  #app {
    width: 140px;
  }
}
@media screen and (min-width: 1024px) {
}
@media screen and (min-width: 1280px) {
  #app {
}
