@font-face {
  font-family: graphik-700;
  src: url(Graphik-Font-Family/GraphikBold.otf);
}
@font-face {
  font-family: graphik-600;
  src: url(Graphik-Font-Family/GraphikSemibold.otf);
}
@font-face {
  font-family: graphik-500;
  src: url(Graphik-Font-Family/GraphikMedium.otf);
}
@font-face {
  font-family: graphik-400;
  src: url(Graphik-Font-Family/GraphikRegular.otf);
}
@font-face {
  font-family: graphik-300;
  src: url(Graphik-Font-Family/GraphikLight.otf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid red; */
}
:root {
  --blue: #0668e3;
  --orange: #ff9000;
  --black: #212529;
  --white: #ffffff;
}

main {
  height: 80vh;
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
  align-items: center;
}
#logo {
  margin-top: 40px;
  margin-bottom: 62px;
}
.alright-sect {
  margin-bottom: 30px;
}
.alright-sect p {
  font-family: graphik-500;
  font-style: normal;
  font-size: 26px;
  line-height: 42px;
  text-align: center;
  color: var(--black);
}
.alright-sect p span {
  color: var(--orange);
  font-family: graphik-700;
}
.blue-sect {
}
.blue-sect div {
  width: 60vw;
  height: 130px;
  background: var(--blue);
  box-shadow: 0px 4px 13px rgba(196, 196, 196, 0.25);
  border-radius: 7px;

  font-family: graphik-500;
  font-style: normal;
  font-size: 22px;
  line-height: 38px;
  text-align: center;
  color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
}
.blue-sect div span a {
  color: var(--orange);
}
.blue-sect {
  margin-bottom: 30px;
}
.under-blue-sect p {
  font-family: graphik-400;
  font-style: normal;
  font-size: 24px;
  line-height: 38px;
  text-align: center;
  margin-bottom: 20px;
}
.under-blue-sect p span {
  font-family: graphik-500;
}
#see {
  color: var(--blue);
  font-family: graphik-500;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;
}
#see img {
  width: 32px;
}
.btn-text {
  color: var(--white);
  text-decoration: none;
  font-family: graphik-500;
  font-style: normal;
  font-size: 24px;
}
.cta a button {
  background: var(--orange);
  border: none;
  width: 350px;
  height: 64px;
  box-shadow: 0px 4px 13px rgba(255, 144, 0, 0.25);
  border-radius: 5px;
  cursor: pointer;
}
footer {
  margin-top: -15vh;
}
footer img {
  width: 100%;
}
.footer-div-main {
  display: flex;
  justify-content: space-between;
  margin: auto;
  align-items: center;
  width: 60vw;
  margin-top: -15vh;
}
.footer-div-main p {
  font-family: graphik-600;
  font-style: normal;
  font-size: 26px;
  line-height: 54px;
  color: var(--blue);
}
#app {
  width: 160px;
}
/* for questionnare */
.quest-blue-sect {
  background: var(--blue);
  width: 60vw;
  height: 360px;
  background: var(--blue);
  box-shadow: 0px 4px 13px rgba(196, 196, 196, 0.25);
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--white);
  margin-bottom: 30px;
}
.quest-blue-sect .blue-text {
  font-family: graphik-600;
  font-style: normal;
  font-size: 28px;
  line-height: 42px;
  text-align: center;
}
.quest-blue-sect form {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
  width: 40%;
}
.form-text {
  margin-right: 10%;
  font-family: graphik-400;
  font-size: 24px;
}
.second-sect {
  width: 60vw;
  height: 200px;
  background: var(--white);
  box-shadow: 0px 4px 13px rgba(196, 196, 196, 0.25);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}
.second-text {
  font-family: graphik-500;
  font-style: normal;
  font-size: 24px;
  line-height: 35px;
  color: #0668e3;
  margin-bottom: 30px;
}
.second-sect-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
}
.second-btn {
  background: #ffffff;
  border: 1px solid #c4c4c4;
  box-sizing: border-box;
  border-radius: 5px;
  font-size: 18px;
  color: var(--black);
  font-family: graphik-400;
  width: 40%;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.equal {
  font-size: 36px;
  font-family: graphik-700;
}
.final-sect {
  margin-left: auto;
  margin-right: 20vw;
}
.final-sect a button {
  background: var(--orange);
  border: none;
  width: 200px;
  height: 64px;
  box-shadow: 0px 4px 13px rgba(255, 144, 0, 0.25);
  border-radius: 5px;
  cursor: pointer;
}

@media screen and (max-width: 860px) {
  #logo {
    margin-top: 36px;
    margin-bottom: 54px;
  }
  .alright-sect {
    margin-bottom: 28px;
  }
  .alright-sect p {
    font-size: 25px;
    line-height: 40px;
  }
  .blue-sect div {
    width: 70vw;
    font-size: 21px;
    line-height: 36px;
  }
  .under-blue-sect p {
    font-size: 23px;
    line-height: 36px;
    margin-bottom: 18px;
  }
  #see {
    font-size: 23px;
    margin-bottom: 56px;
  }
  #see img {
    width: 30px;
  }
  .btn-text {
    font-size: 22px;
  }
  .cta a button {
    width: 320px;
    height: 62px;
  }

  .footer-div-main {
    width: 70vw;
  }
  .footer-div-main p {
    font-size: 22px;
  }
  #app {
    width: 120px;
  }
  /* for questionnare */
  .quest-blue-sect {
    width: 70vw;
    margin-bottom: 28px;
    padding: 0 10%;
  }
  .quest-blue-sect .blue-text {
    font-family: graphik-600;
    font-style: normal;
    font-size: 24px;
    line-height: 38px;
    text-align: center;
  }
  .quest-blue-sect form {
    width: 60%;
  }
  .form-text {
    margin-right: 10%;
    font-family: graphik-400;
    font-size: 24px;
  }
  .second-sect {
    width: 70vw;
  }
  .second-text {
    font-size: 20px;
  }
  .second-sect-buttons {
    width: 60%;
  }
  .second-btn {
    font-size: 15px;
  }
  .equal {
    font-size: 32px;
    font-family: graphik-700;
  }
  .final-sect {
    margin-left: auto;
    margin-right: 15vw;
  }
  .final-sect a button {
    width: 180px;
    height: 58px;
  }
}
@media screen and (max-width: 640px) {
  main {
    padding-left: 26px;
    padding-right: 26px;
  }
  #logo {
    margin-top: 30px;
    margin-bottom: 50px;
  }
  .alright-sect {
    margin-bottom: 24px;
  }
  .alright-sect p {
    font-size: 20px;
    line-height: 32px;
  }
  .blue-sect div {
    width: 92vw;
    padding: 0 10%;
    font-size: 18px;
    line-height: 24px;
  }
  .under-blue-sect p {
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 18px;
  }
  #see {
    font-size: 20px;
    margin-bottom: 42px;
  }
  #see img {
    width: 26px;
  }
  .btn-text {
    font-size: 20px;
  }
  .cta a button {
    width: 260px;
    height: 52px;
  }
  .footer-div-main {
    width: 92vw;
    display: flex;
    justify-content: space-between;
    padding-top: 0px;
  }
  .footer-div-main p {
    font-family: graphik-600;
    font-style: normal;
    font-size: 18px;
  }
  .footer-div-child {
    display: flex;
    justify-content: space-between;
  }
  #app {
    width: 100px;
    margin-left: 20px;
  }

  /* for questionnare */
  .quest-blue-sect {
    width: 92vw;
    height: 360px;
    margin-bottom: 28px;
  }
  .quest-blue-sect .blue-text {
    font-size: 20px;
    line-height: 30px;
    padding: 2% 10%;
  }
  .quest-blue-sect form {
    margin-top: 24px;
    width: 60%;
  }

  .form-text {
    margin: 0;
    font-size: 20px;
  }
  .second-sect {
    width: 92vw;
    height: 200px;
    margin-bottom: 40px;
    padding: 5% 0;
  }
  .second-text {
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    margin-bottom: 24px;
  }
  .second-sect-buttons {
    width: 80%;
  }
  .second-btn {
    border-radius: 5px;
    font-size: 14px;
    color: var(--black);
    font-family: graphik-400;
    width: 42%;
    height: 38px;
  }
  .final-sect {
    margin-left: auto;
    margin-right: 0vw;
  }
  .final-sect a button {
    width: 160px;
    height: 52px;
    font-size: 20px;
  }
}
